/*
  Sustainable Web Principles:
  - Use modern CSS for theming to let the browser do the work, reducing JavaScript overhead.
  - `color-scheme` property hints to the browser about the themes you support,
    allowing it to adjust UI elements like scrollbars automatically.
*/
:root {
  /* Light Theme (default) */
  color-scheme: light dark;
  --background-color: #f3f3f3;
  --text-color: #292929;

  color: var(--text-color);
  background-color: var(--background-color);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a1a1a;
    --text-color: #e7e7e7;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#root {
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.main-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.content-center {
  max-width: 400px;
  margin: 0 auto;
  /* padding: 0 0.5rem; */
}

a {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  transition: text-decoration-color 0.25s;
}

a:hover {
  text-decoration-color: transparent;
}
