/*
  Sustainable Web Principles:
  - Use modern CSS for theming to let the browser do the work, reducing JavaScript overhead.
  - `color-scheme` property hints to the browser about the themes you support,
    allowing it to adjust UI elements like scrollbars automatically.
*/
:root {
  /* Light Theme (default) */
  --background-color: #f9f9f9;
  --text-color: #212121;
  --border-color: #e0e0e0;
  --background-color-dark: #272727;
  --text-color-dark: #ffffff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a1a1a;
    --text-color: #e7e7e7;
    --border-color: #3a3a3a;
    --background-color-dark: #d9d9d9;
    --text-color-dark: #1a1a1a;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  box-sizing: border-box;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  padding: 10px;
}
