.article-card-link {
  text-decoration: none;
  color: inherit;
}

.article-card-category,
.article-card-date {
  font-size: 0.65rem;
  font-weight: bold;
  text-decoration: none;
}

.article-card-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 0;
}
