.header {
  background-color: #292929;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  padding: 0 1rem;
}

.header-contents {
  max-width: 900px;
  margin: 0 auto;
}

.header-contents h2 {
  margin: 0;
}
