.header {
  background-color: #121212;
  color: #f2f2f2;
  text-transform: uppercase;
  padding: 0 10px;
}

.header-contents {
  margin: 0 auto;
  max-width: 400px;
  box-sizing: border-box;
}

.header-contents h2 {
  font-size: 1.275rem;
  font-weight: 800;
}
