header {
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav {
  max-width: 600px;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0.5rem 0;
}
li {
  margin-right: 0.5rem;
}

.header-nav a {
  text-decoration: none;
  color: #f2f2f2;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.7rem;
  display: block;
}
